<div id="login" class="page">



    <div class="container middle">
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="input-field">
                    <input id="cloudNetAddress" type="text">
                    <label for="cloudNetAddress">CloudNet-WebAdresse</label>
                </div>


                <div class="input-field">
                    <input id="cloudNetUser" type="text">
                    <label for="cloudNetUser">CloudNet-User</label>
                </div>


                <div class="input-field">
                    <input id="cloudNetPassword" type="password">
                    <label for="cloudNetPassword">User-Passwort</label>
                </div>

                <br><br><br>
            </div>


            <div class="center">
                <div onclick="login.sendLogin()" class="btn waves-effect waves light">Einloggen</div>
            </div>
        </div>
    </div>

    <script type=>
        require("materialize-css");
        const login = require("../../page/loginStage/login");
    </script>

</div>